<a href="https://colab.research.google.com/github/rafarodrigues/Mackenzie/blob/main/Aula%206%20-%20An%C3%A1lise%20explorat%C3%B3ria%20de%20dados%20em%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("http://meusite.mackenzie.br/rogerio/data_load/insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [9]:
# Exercicio 1 - Qual a quantidade da base de dados?
df.shape[0], len(df) #Equivalelente ao NROW do R

(1338, 1338)

In [10]:
df.shape

(1338, 7)

In [14]:
# Exercício 2 - Quais são os atributos numéricos e categóricos na base? Quantos há de cada?
df.info() #Equivalente ao STRUCT do R

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [15]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [24]:
# Exercício 3 - Quantas regiões estão presentes na base de dados? (Empregue table (no R) ou unique (no Python))

df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [27]:
df['region'].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [28]:
# Exercício 4 - Empregue describe() para estatísticas sumarizadas. Qual a média de idade dos segurados?

df.describe(include="all")

,age,sex,bmi,children,smoker,region,charges
count,1338.000000,1338,1338.000000,1338.000000,1338,1338,1338.000000
unique,NaN,2,NaN,NaN,2,4,NaN
top,NaN,male,NaN,NaN,no,southeast,NaN
freq,NaN,676,NaN,NaN,1064,364,NaN
mean,39.207025,NaN,30.663397,1.094918,NaN,NaN,13270.422265
std,14.049960,NaN,6.098187,1.205493,NaN,NaN,12110.011237
min,18.000000,NaN,15.960000,0.000000,NaN,NaN,1121.873900
25%,27.000000,NaN,26.296250,0.000000,NaN,NaN,4740.287150
50%,39.000000,NaN,30.400000,1.000000,NaN,NaN,9382.033000
75%,51.000000,NaN,34.693750,2.000000,NaN,NaN,16639.912515
max,64.000000,NaN,53.130000,5.000000,NaN,NaN,63770.428010

In [29]:
# Exercício 5 - Empregue mean() para a média das cobranças (charges) dos segurados

df['charges'].mean()

13270.422265141257

In [35]:
# Exercício 6 - Qual a quantidade de segurados fumantes?
print(f"A quantidade de fumantes é: {len(df[df['smoker'] == 'yes'])}")

A quantidade de fumantes é: 274

In [42]:
# Exercício 7 - Qual o percentual de segurados fumantes?
(len(df[df['smoker'] == 'yes']) / len(df))*100

20.47832585949178

In [47]:
# Exercício 8 - Qual o percentual de segurados fumantes do sexo feminino?
(len(df[(df['smoker'] == 'yes') & (df['sex'] == 'female')]) / len(df))*100

8.594917787742899

In [48]:
# Exercício 9 - Qual  a média das despesas dos segurados com menos de 21 anos?
df[df['age'] < 21]['charges'].mean()

8713.482412584337

In [61]:
# Exercício 10 - Qual o percentual de cobranças (com relação ao total da base) para seguradas com idade menor que 25 anos?
(len(df[(df['age'] < 25) & (df['sex'] == 'female')]['charges']) / len(df))*100

10.014947683109119

In [63]:
(df[(df['age'] < 25) & (df['sex'] == 'female')]['charges'].sum() / df['charges'].sum())*100

6.512881257282357